APP_ENV=development
BASE_URL_AFIP=https://www.afip.gob.ar
OUTPUT_DIR=./salidas
LOG_DIR=./logs
HEADLESS=true
DOWNLOAD_TIMEOUT=120
RETRIES=2
FIREFOX_PATH=./firefox/firefox.exe
CREDENTIALS_FILE=./config/credenciales.xlsx
